<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="repositoryMappingsConfiguration" 
      type="SmarCA.Infrastructure.RepositoryFramework.Configuration.RepositorySettings,SmartCA.Infrastructure,Version=1.0.0,Culture=neutral,PublicKeyToken=null"/> 
</configSections>
  <repositoryMappingsCofiguration>
    <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="IProjectRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.ProjectRepository,SmartCA.Infrastructure.Repositories,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    </repositoryMappings>
  </repositoryMappingsCofiguration>
</configuration>