<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings,Microsoft.Practices.EnterpriseLibrary.Data,Version=3.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    <section name="repositoryMappingsConfiguration" 
      type="SmarCA.Infrastructure.RepositoryFramework.Configuration.RepositorySettings,SmartCA.Infrastructure,Version=1.0.0,Culture=neutral,PublicKeyToken=null"/>
    <section name="entityMappingsConfiguration" type="SmartCA.Infrastructure.EntityFractoryFramework.Configuration.EntitySettings,SmartCA.Infrastructure,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
</configSections>
  <dataConfiguration defaultDatabase="SmartCA"/>
  <connectionStrings>
    <add name="SmartCA" connectionString="Data Source=|DataDirectory|\SmartCA.sdf" providerName="System.Data.SqlServerCe.3.5"/>
  </connectionStrings>
  <repositoryMappingsCofiguration>
    <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="IProjectRepository" repositoryFullTypeName="SmartCA.Infrastructure.Repositories.ProjectRepository,SmartCA.Infrastructure.Repositories,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    </repositoryMappings>
  
<repositoryMappings>
      <repositoryMapping interfaceShortTypeName="IEmployeeRepository" 
                         repositoryFullTypeName="SmartCA.Infrastructure.Repositories.EmployeeRepository,SmartCA.Infrastructure.Repositories,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    </repositoryMappings>
  
  <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="ICompanyRepository" 
                         repositoryFullTypeName="SmartCA.Infrastructure.Repositories.CompanyRepository,SmartCA.Infrastructure.Repositories,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    </repositoryMappings>

  <repositoryMappings>
      <repositoryMapping interfaceShortTypeName="IContactRepository" 
                         repositoryFullTypeName="SmartCA.Infrastructure.Repositories.ContactRepository,SmartCA.Infrastructure.Repositories,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
    </repositoryMappings>

  </repositoryMappingsCofiguration>

  <entityMappingsConfiguration>
    <entityMappings>
      <entityMapping entityFactoryShortTypeName="Project" 
                     entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.ProjectFactory,SmartCA.Infrastructure.Repositories,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
   <entityMapping entityFactoryShortTypeName="Employee" 
                     entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.EmployeeFactory,SmartCA.Infrastructure.Repositories,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
     <entityMapping entityFactoryShortTypeName="Company" 
                     entityFactoryFullTypeName="SmartCA.Infrastructure.Repositories.CompanyFactory,SmartCA.Infrastructure.Repositories,Version=1.0.0.0,Culture=neutral,PublicKeyToken=null"/>
      
  </entityMappings>
  </entityMappingsConfiguration>
</configuration>